<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/styles/styles.css">
</head>
<body>
    <form id="searchbar"action="{{ url }}" method="POST">
        <label for="question">Search Image:</label><br>
        <input type="text" id="query" name="query" value=""><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>



<div style="display: flex;">
    {% for gif in imgData %}
    <img src="{{gif}}"/>
    {% endfor %}
</div>